asgiref==3.5.0
Django==4.0.9
django-extensions==3.1.5
graphviz==0.19.1
mysql-connector-python==8.0.28
protobuf==3.19.5
psycopg2==2.9.3
pydot==1.4.2
pyparsing==3.0.7
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
